@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:"Roboto Thin", sans-serif;
}

body {
  background-color: #000000;
  overflow-x: clip;
}

html {
  overflow-x: clip;
}


.grid-cols-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}